@import '../../assets/colors';

.editStatWrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparentize($color-black, 0.5);
}

.editStat {
  width: 50vw;
  height: 50vh;
  background: $color-darkest;
  box-shadow: 15px 8px 20px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
}

.statName {
  font-size: 1.5rem;
  text-transform: capitalize;
}
