@import '../../assets/colors';
@import '../../assets/typography';
@import '../../assets/layout';

.characterCard {
  position: relative;
  border: 1px solid $color-white;
  border-radius: 0.25rem;
  width: 100%;
  height: 9rem;
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .buttonTarget {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
  }

  .data {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - #{$hex-image-width});

    .descriptor {
      color: $text-light;
      background-color: $color-red;
      border-radius: 0.25rem;
      padding: 0.1rem 0.25rem;
      font-size: 0.8rem;
    }

    .name {
      font-size: 1.3rem;
      margin: 0.25rem 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .chart {
      height: 4.5rem;
    }
  }

  .image {
    height: 100%;
  }
}

