@import '../../assets/colors';
@import '../../assets/typography';

.loader {
  padding-top: 15vh;
  overflow: hidden;

  .terminal {
    color: $text-light;
    background-color: $color-darkest;
    font-family: $code-font;
    border: 1px solid white;
    margin: 0 10vw;
    padding: 0.5rem;
    width: 80vw;
    height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
  }

  .title {
    font-family: $title-font;
    text-align: center;
  }

  .standby {
    font-size: 1rem;
    text-align: center;
  }

  .tinyCode {
    margin-top: 2rem;
    font-size: 3px;
  }
}
