@import '../../assets/colors';
@import '../../assets/layout';

$input-height: 1.6rem;
$padding-left: 0.5rem;
$label-height: 10px;

.wrapper {
  position: relative;
  display: block;
  height: calc(#{$input-height} + 1px + #{$label-height});
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-size: 0.5rem;
  text-transform: uppercase;
}

.input {

  -webkit-appearance: none;
  border: none;
  background: none;
  border-bottom: 1px solid $color-accent;
  border-radius: 0.25rem;
  width: 100%;
  height: calc(1.6rem + 1px); /* ensures the bottom border of the input hits the focus border */
  color: $color-white;
  font-size: 1rem;
  outline: none;
  padding-left: $padding-left;

  &:focus {
    border-bottom: 4px solid $color-accent;

    & + .focusIndicator {
      @include focusIndicator;
      width: calc(100% + #{$padding-left} + 1px); /* allow for input border spacing */
      height: 2.1rem;
      left: 0;
      top: 0.6rem;
      border-radius: 0.25rem;
    }
  }
}
