@import '../../assets/colors';

.inputGroup {
  display: flex;
  flex-direction: column;
  position: relative;

  &Error {
    .dynamicHoverUnderline, .dynamicFocusUnderline, .input { border-bottom-color: $color-red; }

    .label, .message { color: $color-red; }
  }

  &Disabled {
    pointer-events: none;

    .label, .message { color: $color-grey }

    .input {
      color: $color-grey;
      border-bottom: 1px dotted $color-grey;
    }
  }
}

.dynamicHoverUnderline {
  position: absolute;
  display: block;
  width: 100%;
  top: 46px;
  border-bottom: 2px solid $color-darkest;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  pointer-events: none;

  &Hovered {
    opacity: 1;
  }

  &Removed {
    display: none;
  }
}

.dynamicFocusUnderline {
  position: absolute;
  display: block;
  width: 0;
  top: 46px;
  left: 50%;
  border-bottom: 2px solid $color-medium;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
  pointer-events: none;

  &Focused {
    width: 100%;
    left: 0;
  }
}

.label {
  color: darken($color-grey, 10%);
  height: 48px;
  font-size: 0.8rem;
}

.input {
  border: none;
  border-bottom: 1px solid $color-dark-grey;
  outline: none;
  height: 2rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.message {
  margin-top: 0.5rem;
  display: block;
  height: 1rem;
}
