@import '../../assets/colors';
@import '../../assets/typography';
@import '../../assets/constants';

.outerWrapper {
  margin: 0.75rem 0;

  &.lowProfile {
    display: flex;
    line-height: 3rem;

    .label {
      margin-right: 1rem;
    }
  }
}

.label {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 0.7rem;
  white-space: nowrap;
}

.labelHidden {
  visibility: hidden;
}

.inputWrapper {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 2rem;
    transition: background-color $transition-duration $transition-timing,
      box-shadow $transition-duration $transition-timing;
    box-shadow: none;
    background-color: transparentize($color-grey, 0.8);
  }

  &.disabled:before { opacity: 0; }

  &.focused:before {
    background-color: transparentize($color-green, 0.6);
  }

  .input {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0;
    color: $text-light;
    background: none;
    border: none;
    border-bottom: 1px solid $color-grey;
    border-radius: 0;
    font-size: 1rem;
    font-family: $body-font;
  }

  .inputDark {
    border-bottom: 1px solid $color-dark;
    color: $text-dark;
  }
}
