@import '../../assets/colors';
@import '../../assets/constants';
@import '../../assets/layout';

.smartStat {
  position: relative;
  display: block;

  .button {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    outline: none;

    &:focus .buttonFocusIndicator {
      @include focusIndicator;
    }
  }

  &.round {
    width: 4rem;
    height: 4rem;

    .button:focus .buttonFocusIndicator {
      @include focusIndicator;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 2.25rem;
    }
  }

  .stat {
    position: relative;
    z-index: 2;
  }
}
