@import '../../assets/layout';
@import '../../assets/typography';
@import '../../assets/colors';

.setToken {
  $max-width: 800px;

  margin-top: var(--large-logo-top-space);
  font-family: $code-font;
  position: relative;

  .terminal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $text-light;
    background-color: $color-darkest;
    font-family: $code-font;
    border: 1px solid white;
    margin: 0 auto;
    padding: 1rem;
    width: 90vw;
    max-width: $max-width;
    box-sizing: border-box;
    max-height: calc(100vh - var(--large-logo-top-space) - #{$safari-bottom-buffer});
    overflow: hidden;
  }

  .title {
    font-size: 1rem;
    text-align: center;
  }

  .error {
    font-size: 0.8rem;
    color: $text-alert;
    text-align: center;
    margin: 0;
  }

  .explanations {
    overflow-y: scroll;
  }

  .explanationHeader {
    font-size: 1rem;
  }

  .explanationParagraph {
    text-align: justify;
  }

  .input {
    text-transform: uppercase;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}
