@import '../../assets/layout';
@import '../../assets/colors';

.button {
  position: relative;
  outline: none;
  background: $color-medium;
  padding: 0.5rem 1rem;
  min-width: 5rem;
  border-radius: 0.25rem;

  &:focus .buttonFocusIndicator {
    @include focusIndicator;
  }

  &.primary { background: $color-accent }

  &.icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: auto;

    :global(.material-icons) { font-size: 2rem; }

    &:focus .buttonFocusIndicator {
      border-radius: 50%;
    }
  }
}
