@import '../../assets/colors';

@mixin boxShadow ($color) {
  box-shadow: 0 0 20px $color inset,
      0 0 10px $color,
      0 0 20px $color;
}
.button {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $text-light;
  background: none;
  border: 2px solid $color-dark-grey;
  border-radius: 0;
  transition: border-radius 0.25s ease-in-out, border-color 0.25s ease-in-out;
  outline: none;

  &:focus, &:active, &:hover {
    border-color: $color-green;
    border-radius: 2rem;
    @include boxShadow($color-green);
  }

  &.primary {
    background-color: transparentize($color-green, 0.5);
    border-color: $color-green;

    &:focus, &:active, &:hover { @include boxShadow($color-green); }
  }

  &.critical {
    background-color: transparentize($color-red, 0.5);
    border-color: $color-red;

    &:focus, &:active, &:hover { @include boxShadow($color-red); }
  }

  &.icon {
    font-size: 1.5rem;
    text-transform: none;
    color: $text-dark;
    border: none;

    &.dark {
      color: $text-light;
    }
  }
}
