@import '../../assets/colors';

.button {
  border: 0;
  background-color: $color-accent;
  color: $text-light;

  &.roundIcon {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    border-radius: 50%;
  }
}
