@import '../../assets/layout';
@import '../../assets/colors';

.characterDetail {
  position: relative;
  /*
  Webkit does not stack elements in a relative-positioned container correctly.
  The following hack forces it to.
  */
  -webkit-transform: translateZ(0);
  color: $text-light;
  height: calc(100vh - #{$header-height} - #{$safari-bottom-buffer});
  width: 100vw;

  .sectionExpander {
    display: block;
  }

  @media screen and (min-width: $small-viewport-width-minimum) {
    max-width: 80vw;
    margin: 0 auto;

    .sectionExpander {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
  }
}

.edit {
  float: right;
}

.form { clear: both; }

.detailSection {
  padding: 1rem;
  background-color: $color-dark-grey;
  color: $text-light;
}

.detailLine {
  clear: both;
  height: 4.5rem;
  display: grid;
  grid-column-gap: 0.5rem;
}
