@import '../../assets/colors';

.stat {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 0.5rem;
    text-transform: uppercase;
  }

  &.round {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    background-color: $color-accent;
    font-size: 1.5rem;
  }
}
