@import '../../assets/layout';
@import '../../assets/colors';

.mainSidebar {
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 100vh;
  width: 20rem;
  padding: $safari-bottom-buffer 0;
  border-right: 1px solid $color-white;

  /* Base media specification: small viewport */
  display: none;

  @media screen and (min-width: $medium-viewport-width-minimum) {
    display: flex;
  }

  .contentWrapper {
    width: 60%;
    margin: 0 20%;
  }

  .characters {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 5px solid $color-accent;

    .count {
      font-size: 5rem;
      padding-right: 1rem;
    }
  }

  .sublist {
    text-align: right;
    margin: 2rem 0;

    .label {
      font-size: 0.8rem;
      text-align: left;
    }
  }
}
