@import '../../assets/colors';
@import '../../assets/layout';

.main {
  position: relative;
  display: block;
  display: flex;
  flex-direction: column;
  color: $text-light;
}

.background {
  z-index: 0;
}
