@import '../../assets/colors';


.logo {
  position: fixed;
  z-index: 1000;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  transition: top 0.25s ease-in-out, left 0.25s ease-in-out, width 0.25s ease-in-out;

  &.header {
    top: 2vh;
    left: 2vh;
    width: 30vw;
  }

  .filledAndOutlined {
    stroke: $color-white;
    stroke-width: 5;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    fill: $color-red;
  }

  .filled {
    fill: $color-white;
  }
}
