@import '../../assets/colors';
@import '../../assets/layout';

@mixin summaryComponent {
  width: 100%;
  background-color: $background-highlight;
  border-radius: $default-border-radius;
  padding: 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
}

.summary {

  padding: 0 2rem;

  .contentWrapper {
    display: flex;

    @media screen and (max-height: $short-viewport-maximum) and (min-width: $medium-viewport-width-minimum) {
      margin-top: 130px; // value for clearance below header
    }
  }

  @media screen and (min-width: $medium-viewport-width-minimum) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25rem;
    height: 100vh;
    padding: 0 2rem 2vh;
    box-sizing: border-box;

    .contentWrapper {
      display: flex;
      flex-direction: column;
      height: 70%;
      min-height: calc(0.75 * #{$large-viewport-width-minimum});
      justify-content: space-between;
    }
  }

  @media screen and (max-height: $short-viewport-maximum) {
    justify-content: flex-start;
  }

  @media screen and (min-height: $large-viewport-width-minimum) {
    padding-bottom: 5vh;
  }
}

.id {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;

  @media screen and (min-width: $medium-viewport-width-minimum) {
    display: block;
  }
}

.pic {
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.smallBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.brief {
  margin: 0;
  font-size: 0.7rem;
}

.name {
  margin: 0;
}

.smallData {
  height: 7rem;

  @media screen and (min-width: $medium-viewport-width-minimum) {
    display: none;
  }
}

.description {
  @media screen and (min-width: $medium-viewport-width-minimum) {
    display: none;
  }
}

.chart {
  display: none;

  @media screen and (min-width: $medium-viewport-width-minimum) {
    display: block;
    height: 10rem;
  }
}

.additionalDataBlock {
  display: none;

  @media screen and (min-width: $medium-viewport-width-minimum) {
    @include summaryComponent;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 0.25rem;
  }

  .stat {
    grid-column-end: span 2;
  }

  .stat2 {
    grid-column-end: span 3;
  }

  .divider {
    grid-column-end: span 2;
    border-bottom: 1px solid $color-white;
    align-self: center;
    margin-top: 1rem;
  }

  .label {
    grid-column-end: span 2;
    font-size: 0.75rem;
    text-align: center;
    margin-top: 1rem;
  }
}

.levelingBlock {
  display: none;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;

  &.bare {
    display: grid;
    padding-top: 1rem;
  }

  @media screen and (min-width: $medium-viewport-width-minimum) {
    @include summaryComponent;
    display: grid;
  }
}
