@import '../../assets/colors';

.missingToken {
  max-width: 40rem;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 0.25rem;
  border: 1px solid $color-red;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  background-color: $color-lightest;
  box-sizing: border-box;

  &:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-top: 1.5rem solid $color-red;
    border-left: 1.5rem solid $color-red;
    border-top-left-radius: 0.25rem;
    border-right: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    margin-left: -2rem;
    margin-top: -1rem;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.errorLabel {
  color: $color-red;
}

.errorInput {
  border-bottom-color: $color-red;

  &:focus {
    border-bottom-color: $color-red;
  }
}

.errorMessage {
  color: $color-red;
  margin-top: 0.5rem;
  display: block;
  height: 1rem;
}
