@import '../../assets/layout';
@import '../../assets/colors';
@import '../../assets/typography';

.header {
  width: 100vw;
  height: $header-height;
  line-height: $header-height;
  margin: 0;
  color: $text-light;
  font-family: $title-font;
}
