@import '../../assets/colors';
@import '../../assets/layout';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-darkest;
  padding: 0.5rem 1rem;
  color: $text-light;
  width: 100vw;
  height: $header-height;
  box-sizing: border-box;
}

.list :global(.material-icons) { font-size: 2rem; }

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
