@import '../../assets/colors';
@import '../../assets/constants';

@keyframes expand {
  from { max-height: 0; }
  to { max-height: 100vh; }
}

.title {
  display: flex;
}

.icon {
  color: $text-light;
  transition: transform $transition-duration ease-out;
  transform: rotateZ(0);
  background: none;
  border: none;
  -webkit-appearance: none;
}

.iconExpanded {
  transform: rotateZ(90deg);
}

.iconLightBackground {
  color: $text-dark;
}

.expander {
  overflow: hidden;
  height: 0;
  transition: height $transition-duration linear;
}
