@import '../../assets/colors';
@import '../../assets/constants';

@keyframes expand {
  from { max-height: 0; }
  to { max-height: 100vh; }
}

.section { overflow-x: hidden; }

.title {
  position: relative;
  display: flex;
  align-items: center;
  transition: box-shadow $transition-duration linear;
  box-shadow: 0 0 0 0 $color-grey;
}

.titleExpanded {
  box-shadow: 0 6px 5px 1px $color-black;
}

.icon {
  color: $text-light;
  transition: transform $transition-duration ease-out;
  transform: rotateZ(0);
  background: none;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
  -webkit-appearance: none;
}

.iconExpanded {
  transform: rotateZ(90deg);
}

.iconLightBackground {
  color: $text-dark;
}

.expander {
  overflow: hidden;
  height: 0;
  transition: height $transition-duration linear;
}
