@import '../../assets/colors';
@import '../../assets/typography';
@import '../../assets/layout';

.loader {
  padding-top: var(--large-logo-top-space);
  overflow: hidden;
  width: 80vw;
  margin: 0 10vw;

  @media screen and (min-width: $large-viewport-width-minimum) {
    width: 30vw;
    margin: 0 35vw;

    .terminal {
      height: 40vh;
    }
  }

  .terminal {
    color: $text-light;
    background-color: $color-darkest;
    font-family: $code-font;
    border: 1px solid white;
    padding: 0.5rem;
    height: 50vh;
    box-sizing: border-box;
    overflow: hidden;
  }

  .title {
    font-family: $title-font;
    text-align: center;
  }

  .standby {
    font-size: 1rem;
    text-align: center;
  }

  .tinyCode {
    margin-top: 2rem;
    font-size: 3px;
  }
}
