@import '../../assets/layout';

.characterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  max-height: calc(100vh - #{$header-height});
  box-sizing: border-box;
  overflow-y: auto;
  width: 100%;
  max-width: 1280px;
}

.nothingToShow {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  text-align: center;
}
