$default-animation-time: 0.25s;

$tiny-viewport-width-minimum: 350px;
$small-viewport-width-minimum: 450px;
$small-viewport-width-maximum: 768px;
$medium-viewport-width-minimum: 769px;
$medium-viewport-width-maximum: 1024;
$large-viewport-width-minimum: 1025px;
$short-viewport-maximum: 641px;

$safari-bottom-buffer: 112px;

$large-logo-top-space: 30vh;
$header-height: 5rem;
$hex-image-width: 107px;
