$default-animation-time: 0.25s;

$tiny-viewport-width-minimum: 350px;
$small-viewport-width-minimum: 450px;
$small-viewport-width-maximum: 767px;
$medium-viewport-width-minimum: 768px;
$medium-viewport-width-maximum: 1024;
$large-viewport-width-minimum: 1025px;
$short-viewport-maximum: 641px;

$safari-bottom-buffer: 112px;

$default-border-radius: 0.5rem;
$focus-indicator-shift: -0.25rem;

$hex-image-aspect-ratio: 1.18;

@mixin focusIndicator {
  /* width, height, border-radius and other rules will need to be specified on the implementing selector. */
  position: absolute;
  top: $focus-indicator-shift;
  left: $focus-indicator-shift;
  border: 1px solid $color-white;
  border-radius: $default-border-radius;
  box-sizing: border-box;
  width: calc(100% + -2 * #{$focus-indicator-shift});
  height: calc(100% + -2 * #{$focus-indicator-shift});

  &::before {
    content: ' ';
    position: absolute;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    top: -1.5px;
    left: -1.5px;
    display: block;
    border: 3px solid $color-white;
    border-radius: inherit;
    box-sizing: border-box;
    filter: blur(3px);
  }
}
