@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

@import './layout';
@import './colors';
@import './constants';

:root {
  --large-logo-top-space: 40vh;
}

@media screen and (orientation: landscape) and (max-height: $short-viewport-maximum) {
  :root {
    --large-logo-top-space: 25vh;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $color-darkest;
  /*
  background-image: radial-gradient(circle at center, rgba(230, 139, 100, 0.5), transparentize($color-darkest, 1)),
    radial-gradient(circle farthest-side at 0 100vh, rgba(230, 139, 100, 0.7), rgba(16, 32, 48, 0));
  */
  height: 100vh;
  width: 100vw;
}
