@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

@import './layout';
@import './colors';
@import './constants';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $text-light;
  background-color: $color-darkest;
}

button {
  -webkit-appearance: none;
  background: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
