@import '../../assets/colors';
@import '../../assets/layout';

.compatibility {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparentize($color-darkest, 0.1);
  color: $text-light
  ;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem $safari-bottom-buffer;
  box-sizing: border-box;
}
